.socials-block {
  text-align: center;
  
  a {
    display: inline-block;
    width: 30px!important;
    height: 20px;
    margin: 0;
    .font-size(22)!important;
    color: @color_blue;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: .2s;

    &:hover {
      color: lighten(@color_blue, 5%);
    }
      &:last-of-type{
          width: auto !important;
          .font-size(12)!important;
      }
  }
}