.remodal {
  border: 3px solid @color_blue;
}

.remodal-close,
.remodal-close:before {
  left: auto;
  right: 0;
}

.remodal-prev,
.remodal-next {
  width: 80px;
  height: 40px;
  padding: 10px;
  color: #fff;
  background-color: @color_blue;
  border: none;

}

.remodal-prev {}
.remodal-next {}

@media @mobileLg {
  .remodal {
    padding: 30px 20px 20px;
  }
}