h1, .h1 {

}

h2, .h2 {
  margin-top: 0;
  .font-size(56);
  line-height: 1;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  color: @color_yellow;
}

h3, .h3 {
  .font-size(30);
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}

h4, .h4 {
  .font-size(22);
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

p, .p {
  .font-size(16);
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.subtitle {
  .font-size(22);
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.notation {
  .line-height(14, 16);
  font-weight: 400;
  font-family: 'Roboto Slab', serif;
  color: @color_gray_light;
}

hr {
  border-bottom: 5px solid @color_white;
  margin: 15px 0;
  border-radius: 10px;

  &.hr-white{
    border-color: @color_white;
  }

  &.hr-yellow{
    border-color: @color_yellow;
  }
}

.ul {
  margin: 0;
  padding: 20px 0 10px;
  font-family: 'Roboto Slab', serif;
  color: @color_blue;
  list-style-type: none;

  li {
    position: relative;
    font-weight: 400;
    padding-left: 50px;
    margin-bottom: 25px;
    .font-size(12);

    &:hover {
      &::before {
        left: 4px;
        color: #1F9988;
      }
    }

    &::before {
      content: '⟶';
      position: absolute;
      font-weight: 400;
      color: #000;
      left: 0;
      top: 0;
      font-size: 20px;
      line-height: 12px;
      transition: .2s;
    }
  }

}

.link {
  font-family: 'Roboto Slab', serif;
  letter-spacing: 0.02em;
  color: @color_yellow;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.text-bold {
  font-weight: 700;
}

.text-grey {
  color: @color_gray_light;
}

.text-blue {
  color: @color_blue;
}

.text-yellow {
  color: @color_yellow;
}

.fw-400 {
  font-weight: 400;
}

address {
  font-style: normal;
}

h1, .h1, h2, .h2, h3, .h3,
h4, .h4, h5, .h5, p, .ul, .ul li,
.subtitle, .notation, .link {
  transition: .2s;
}

@media @laptopMd {
  h2, .h2 {
    .font-size(50);
  }

  h3, .h3 {
    .font-size(28);
  }
}

@media @laptop {
  h2, .h2 {
    .font-size(48);
  }

  h3, .h3 {
    .font-size(32);
  }

  h4, .h4 {
    .font-size(18);
  }
  .subtitle {
    .font-size(18);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }

  p, .p {
    .font-size(16);
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
  }
}


@media @mobileLg {
  h2, .h2 {
    .font-size(40);
  }

  h3, .h3 {
    .font-size(20);
  }

  h4, .h4 {
    .font-size(14);
  }
  .subtitle {
    .font-size(14);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }
}
