.heading {
  padding: 0;
  position: relative;
  background-image: linear-gradient(102deg, @color_black 0%, @color_black_light 100%);

  &::before, &::after {
    content: '';
    display: block;
    width: 20%;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  &::before {
    left: 0;
    background-position: right center;
    background-image: url("../img/dsg/heading_bg_left.svg");
  }

  &::after {
    right: 0;
    background-position: left center;
    background-image: url("../img/dsg/heading_bg_right.svg");
  }

}

.heading-content {
  padding: 60px 0;
  margin: 0 auto;
  max-width: 640px;

}

.heading-logo {
  display: block;
  max-height: 120px;
  margin-bottom: 35px;

  img {
    display: inline-block;
    width: 100%;

  }
}

.countdown {
  min-height: 117px;
  text-align: center;
  font-weight: bold;

  .cont {
    display: inline-block;
    margin: 0 7px;
    .font-size(30);
  }

  .num {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 75px;
    height: 70px;
    margin-bottom: 10px;
    color: @color_yellow;
    border: 1px solid @color_blue;
    .font-size(45);
    background: @color_black;
    border-radius: 4px;
  }
}

.heading-2020 {
  background: #142C82;
  padding-bottom: 173px;

  .h4 {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 100px;
  }
}

.conf-date,
.conf-place {
  font-weight: bold;
  font-size: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  font-family: 'Montserrat', sans-serif;


  img {
    margin-right: 28px;
    width: 62px;
  }
}

.heading-open-air {
  font-size: 24px;
  padding-bottom: 30px;
}

.join-us {
  color: #fdd24a;
  font-size: 36px;
  text-align: center;
  font-weight: 800;
  margin-top: 84px;
}

@media (max-width: 1170px) {
  .join-us {
    font-size: 30px;
  }
}

@media @laptop {
  .heading-content {
    max-width: 50%;
    min-width: 190px;

  }
}

@media @mobileLg {

  .heading-content {
    max-width: 100%;
  }

  .countdown {
    min-height: 117px;

    .cont {
      margin: 0 7px;
      .font-size(30);
    }

    .num {
      padding: 5px;
      width: 50px;
      height: 70px;
      margin-bottom: 10px;
      .font-size(20);
    }
  }

  .heading-2020 {
    padding-bottom: 90px;

    .heading-content {
      max-width: 60%;
    }

    .join-us {
      font-size: 30px;
      max-width: 60%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
    }

    .conf-date,
    .conf-place {
      font-size: 15px;
      margin-right: 10px;

      img {
        width: 40px;
      }
    }

    .heading-open-air {
      font-size: 15px;
    }
  }
}

@media (max-width: 550px) {
  .heading-2020 {
    .join-us {
      font-size: 18px;
    }

    .heading-content {
      padding: 60px 0 0;

      .flex {
        flex-direction: column;
        margin-top: 55px;
      }
    }

    .conf-date,
    .conf-place {
      margin-right: 0;
      margin-bottom: 20px;
      width: 170px;
    }
  }
}
