.heading {
  padding: 0;
  position: relative;
  background-image: linear-gradient(102deg, @color_black 0%, @color_black_light 100%);

  &::before, &::after {
    content: '';
    display: block;
    width: 20%;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  &::before{
    left: 0;
    background-position: right center;
    background-image: url("../img/dsg/heading_bg_left.svg");
  }

  &::after {
    right: 0;
    background-position: left center;
    background-image: url("../img/dsg/heading_bg_right.svg");
  }

}


.heading-content {
  padding: 60px 0;
  margin: 0 auto;
  max-width: 640px;

}

.heading-logo {
  display: block;
  max-height: 120px;

  img {
    display: inline-block;
    width: 100%;

  }
}
