.heading {
  //background-color: #fff;
  //background-image: url("../img/heading_bg.png");
  //background-position: bottom center;
  //background-repeat: no-repeat;
  //background-size: 106%;
  //height: 100vh;
  //min-height: 600px;
  padding: 110px 0 0;
}

.heading-bg-img-m,
.heading-bg-img{
  display: block;
  width: 100%;
  //margin-top: -42vh;
  user-select: none;


  &.collage {
  }
}

.heading-bg-img-m {
  //display: none;
  //margin-top: 0;
}


.heading-logo {
  width: 100%;
  max-width: 600px;
  transition: .2s;
  z-index: 1;
  background-color: #fff;

  img {
    width: 100%;
  }
}

.heading-sun{
  width: 100%;
  max-width: 320px;
  transition: .2s;

  img {
    width: 100%;
  }
}



.heading-date {
  margin-top: 5vh;
  .font-size(40);
  font-weight: 400;
  color: @color_blue;
  letter-spacing: 7px;
  white-space: nowrap;
  background-color: #fff;
  transition: .2s;
}

.heading-list {
  padding-left: 60px;
  .font-size(14);
  font-weight: 400;
  color: @color_blue;
  background-color: #fff;
  list-style-type: none;
  letter-spacing: 3px;
  z-index: 1;

  li {
    position: relative;
    margin-bottom: 30px;


    &::after {
      content: '';
      position: absolute;
      top: -7px;
      //top: 50%;
      //transform: translateY(-50%);
      left: -55px;
      width: 30px;
      height: 30px;
      background-image: url("../img/favicon.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &.calendar {
      &::after {
        background-image: url("../img/i1.svg");
      }
    }

    &.sheet {
      &::after {
        background-image: url("../img/i2.svg");
      }
    }

    &.format {
      &::after {
        background-image: url("../img/i3.svg");
      }
    }

    &.clock {
      &::after {
        background-image: url("../img/i4.svg");
      }
    }
  }
}

.heading-tickets-btn {
  display: none;
}

@media screen and (max-width: 1400px) {
  .heading {
    //min-height: 700px;
  }
  .heading-logo {
    max-width: 300px;
  }
  .heading-sun {
    max-width: 170px;
  }
  .heading-date {
    .font-size(30);
  }

  .heading-title-row {
    margin-top: 0!important;
  }

  .heading-list {
    margin-top: 5vh;
    li {
      margin-bottom: 20px;
    }

  }
  //.heading-bg-img {
  //  margin-top: -50vh;
  //}
}

@media @laptopMd {
  .heading-sun {
    max-width: 300px;
  }
}

@media @laptop {

  .heading {
    .container {
      display: flex;
      justify-content: space-between;
    }
  }
  .heading-logo {
    max-width: 320px;
  }
  //.heading-bg-img,
  //.heading-sun {
  //  display: none;
  //}

  .heading-bg-img-m {
    display: block;
  }

  .heading-title-row {
    margin-top: 0!important;
    display: block!important;
    margin-right: 50px!important;
  }
  .heading-date {
    margin-left: 0;
    margin-top: 60px;
    .font-size(30);
  }

  .heading-tickets-btn {
    display: block;
    width: 100%;
    //max-width: 400px;
  }

}

@media @tablet {
  .heading {
    padding: 90px 0 0;
    //margin-top: 40px;
    padding-bottom: 0!important;
  }
}

@media @mobileLg {
  .heading{
    //min-height: 610px;

    .container {
      display: block;
    }
  }
  .heading-title-row {
    margin-top: 20px!important;
    margin-right: 0!important;
    display: block!important;
  }

  .heading-list-container {
    display: block !important;
  }

  .heading-logo{
    margin: 0 auto;
  }
  .heading-date {
    .font-size(18);
    text-align: center;
    margin: 40px auto 0;
    white-space: normal;
  }


  .heading-list {
    margin-top: 60px;
  }

}