.location {
  padding: 40px 0 40px;
  border-bottom: 6px solid @color_yellow;
}

.location-img-container {
  display: flex;
  justify-content: space-between;
  .location-img-container_item {
    max-width: 48%;
    box-sizing: border-box;
    padding: 15px 0;
    img {
      display: inline-block;
      max-height: 550px;
      max-width: 100%;
      filter: grayscale(1);
    }
  }
}

@media @mobileLg {
  .location {
    padding: 30px 0;

    .h2 {
      margin-bottom: 20px !important;
    }
  }

  .location-img-container {
    flex-direction: column;
    &_item {
      width: 100%;
      max-width: 100% !important;
    }
  }
}