.schedule {
  padding: 65px 0 55px;
  border-bottom: 6px solid @color_blue;
}

.schedule-list {
  max-width: 900px;
  margin: 30px auto 0;
}

.schedule-head {
  display: flex;
  width: 100%;
  padding: 15px 0;
}

.schedule-head-item {
  color: @color_white;
  text-align: center;
  width: 100%;
  .h4();

  &:first-child {
    width: 140px;
    margin-right: 4%;
  }
}

.schedule-item {
  display: flex;
  //margin-bottom: 15px;
  padding: 7px;
  align-items: center;
}

.schedule-time {
  .h4();
  max-width: 150px;
  width: 150px;
  white-space: nowrap;
}

.schedule-time-start {
  color: @color_yellow;
}

.schedule-time-end {
  color: @color_blue;
}

.schedule-icon {
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  //background-image: url("../img/sheet.svg");
  //background-repeat: no-repeat;
  //background-position: center;
  //background-size: contain;
  margin-right: 2%;
  display:  flex;
  align-items: center;
  justify-content: center;

  .fa {
    .font-size(35)
  }

  &.profile {
    background-image: url("../img/profile.svg");
  }

  &.people {
    background-image: url("../img/people.svg");
  }

  &.clock {
    background-image: url("../img/clock.svg");
  }

  &.sheet {
    background-image: url("../img/sheet.svg");
  }

  &.cup {
    background-image: url("../img/cup.svg");
  }

  &.plate {
    background-image: url("../img/plate.svg");
  }
}

.schedule-text {
  color: @color_white;
  .h4();
  font-weight: bold;
  margin-right: 2%;
  margin-top: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.schedule-author {
  margin-top: 10px;
  color: @color_yellow;
  .p();
}

.schedule-2020 {
  padding: 65px 0 0;

  .schedule-icon {
    display: none;
  }
}

.day-2020 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  //cursor: pointer;
}

.label-yellow {
  background: #FDD24A;
  border-radius: 100px;
  padding: 10px 40px;
  margin-right: 35px;
  font-size: 24px;
}

.subtitle-date-2020 {
  font-weight: 800;
  font-size: 24px;
  color: #142C82;
}

.schedule-item-2020 {
  font-size: 24px;
  display: flex;
  padding: 7px;
  align-items: flex-start;
  margin-bottom: 20px;

  .schedule-time {
    width: 160px;
    max-width: 160px;
    margin-right: 26px;
    font-size: 24px;
    text-align: right;
    font-weight: 800;
    color: #16B8E2;
    font-family: 'Montserrat', sans-serif;
  }

  .schedule-text {
    margin-top: 0;
    font-weight: 500;
    font-size: 20px;
    color: #868B9B;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    padding-top: 3px;

    .schedule-author {
      font-size: 24px;
      font-weight: 600;
      color: #16B8E2;
      font-family: 'Montserrat', sans-serif;
      margin: 0;
    }
  }
}

.schedule-break-2020 {
  .schedule-time {
    font-weight: 500;
    color: #868B9B;
  }

  .schedule-text {
    font-weight: 500;
    color: #868B9B;
  }
}

.schedule-separator-2020 {
  .schedule-time {
    font-weight: 800;
    color: #142C82;
  }

  .schedule-text {
    text-align: left;
    color: #142C82;
    font-weight: 700;
    font-size: 24px;
    padding-top: 0;
  }
}

@media (max-width: 1600px) {
  .label-yellow {
    font-size: 24px;
  }
}
@media (max-width: 1170px) {
  .label-yellow {
    font-size: 20px;
  }

  .subtitle-date-2020 {
    font-size: 17px;
  }

  .schedule-item-2020 {
    .schedule-time {
      font-size: 19px;
    }

    .schedule-text {
     font-size: 16px;
    }
  }

  .schedule-separator-2020 {
    .schedule-text {
      font-size: 19px;
    }
  }
}


@media @tablet {
  .schedule-time {
    .font-size(18);
  }

  .schedule-text {
    .font-size(18);
  }
}

@media @mobileLg {
  .schedule {
    padding: 30px 0;
  }

  .schedule-time {
    .font-size(16);
  }

  .schedule-text {
    .font-size(16);
  }
}

@media @mobileMd {
  .schedule-list-container {
    width: 100%;
    overflow-x: auto;
  }

  .schedule-list {
    min-width: 540px;
  }
}
